* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

.container .header .rectangle {
  background-color: #E4FAF4;
  width: 1440px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .rectangle .download {
  padding: 10px;
  color: #222222;
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: center;
}

.container .header .rectangle .blog {
  padding: 10px;
  color: #222222;
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
}

.container .header .rectangle .language {
  padding: 10px;
  color: #222222;
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
}

.container .header .rectangle .english {
  padding: 10px;
  color: #222222;
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
}

.container .header .neo-funds {
  color: #222222;
  font-family: Futura;
  font-size: 25.92px;
  line-height: 34px;
  text-align: center;
}

.container .header .search {
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 6px;
  width: 240px;
  height: 42px;
}

.container .header .icon {
  background-color: #222222;
  opacity: 0.5;
}

.container .header .input-bar {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  text-align: left;
}
/*# sourceMappingURL=index.css.map */