*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 80vw;
    .header{
        .rectangle{
            
            background-color: #E4FAF4;
            width: 1440px;
            height: 30px;
            
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // text-decoration: none;
            // padding: 20px;
            .download{
                padding: 10px;
                color: #222222;
                font-family: Avenir;
                font-size: 13px;
                line-height: 17.76px;
                text-align: center;
                // text-decoration: none;
            }
            .blog{
                padding: 10px;
                color: #222222;
                font-family: Avenir;
                font-size: 13px;
                line-height: 17.76px;
                text-align: left;
                // text-decoration: none;
            }
            .language{
                padding: 10px;
                color: #222222;
                font-family: Avenir;
                font-size: 13px;
                line-height: 17.76px;
                text-align: left;
            }
            .english{
                padding: 10px;
                color: #222222;
                font-family: Avenir;
                font-size: 13px;
                line-height: 17.76px;
                text-align: left;
            }
            
        } //rectangle closed
        .neo-funds{
            color: #222222;
            font-family: Futura;
            font-size: 25.92px;
            line-height: 34px;
            text-align: center;
        }
        .search{
            padding: 10px;
            background-color: #F5F5F5;
            border-radius: 6px;
            width: 240px;
            height: 42px;

        }
        .icon{
            background-color: #222222;
            opacity: 0.5;
        }
        .input-bar{
            color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  text-align: left;
            
        }
    } //headr closed

} //container closed